/*
-----------------------------------------------
GEEKSPACE
Author: 沐疯
-----------------------------------------------
1. BODY
2. HEADER
*/

/***********************************/
/* 1.BODY*/
/***********************************/
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, button, input, textarea, p, span, th, td, article, aside, nav, section, img, a {
    outline: none;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
}

body {
    font-family: "微软雅黑", sans-serif;
    color: #4e4e4e;
}

a:hover, a:focus {
    text-decoration: none;
}

/***********************************/
/* END 1.BODY */
/***********************************/

/***********************************/
/* 2.HEADER */
/***********************************/
.header {
    border-bottom: 0.2rem solid #f38844;
}

.header-top {
    background-color: #303d4a;
}

.header-down {
    background-color: #fff;
}

/* 2.1.Logo */
.wrap-logo {
    padding: 1rem 1rem 1rem 0;
}

.logo {
    display: block;
    background-image: url(../images/sprite.png);
    background-position: 0px 0px;
    width: 147px;
    height: 26px;
    background-size: 147px, 138px;
    background-repeat: no-repeat;
}

/* 2.1. END Logo */
/* 2.2. Topbar */
.topbar {
    margin-top: 1.2rem;
}

.topbar a {
    padding-left: 1rem;
}

.topbar span, .topbar i {
    color: #fff;
    padding: 0 0.1rem;
}

/* END 2.2. Topbar */
/* 2.3. Nav */
.navbar-expand-lg .navbar-nav .nav-link {
    color: #666;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    background-color: #f38844;
    color: #fff;
}

.form-control:focus, .form-control:hover {
    border-color: #f38844;
    box-shadow: none;
}

.search {
    position: relative;
}

.btn-search {
    background-color: transparent;
    position: absolute;
    top: 0.3rem;
    right: 0.8rem;
    color: #f38844;
}

/* END 2.3. Nav */
/***********************************/
/* END 2.HEADER */
/***********************************/

/***********************************/
/* 3.CONTENT */
/***********************************/
/* 3.1. Wrap&carousel&sub-title */
.slate-wrap {
    background: #303d4a;
}

.white-wrap {
    background-color: #fff;
}

.gray-wrap {
    background-color: #eeeeee;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.carousel-wrap {
    padding: 2rem 0;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.carousel-caption a{
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    font-size:1.75rem;
}
.carousel-caption a:hover{
    color:#f38844;
}

.sub-title {
    text-indent: 1.6rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

/* 3.1. END Wrap&carousel&sub-title */
/* 3.2. Stick(置顶) */
.excerpt-minic h5{
    width:100%;
}
.excerpt-minic {
    border: 1px solid #eaeaea;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
}
.excerpt-minic a {
    font-size: 1.2rem;
    color: #666;
    font-weight: bold;
}

.excerpt-minic a:hover {
    color: #f38844;
}

.excerpt-minic .red {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F73B3B;
}

/* 3.2. END Stick(置顶) */
/* 3.3. Article */
.excerpt {
    border: 1px solid #EAEAEA;
    padding: 1.5rem 1rem;
    background-color: #fff;
    margin-bottom: -1px;
}

.excerpt:hover {
    border-color: #ff9000;
    position: relative;
    z-index: 20;
}

.excerpt .cat {
    position: relative;
    top: -0.15rem;
    color: #fff;
    background-color: #f38844;
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 0.5rem;
    cursor: default;
}

.excerpt .cat i {
    position: absolute;
    top: 50%;
    margin-top: -0.25rem;
    right: -0.25rem;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 0.25rem solid #f38844;
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
}

.excerpt h5 {
    display: inline;
    font-weight: bold;
}

.excerpt h5 a {
    font-size: 1.2rem;
    color: #666;
}

.excerpt h5 a:hover {
    color: #f38844;
}

.thumb {
    max-width: 100%;
    height: auto;
}

.excerpt .meta {
    color: #959595;
    font-size: 1rem;
    margin-top: 0.2rem;
}

.excerpt .meta span {
    font-size: 0.8rem;
    padding-right: 0.5rem;
}

.excerpt .meta a {
    font-size: 0.8rem;
    cursor: pointer;
}
.excerpt-minic .note{
    margin-left:0.8rem;
}

.excerpt-minic .note, .excerpt .note {
    display: block;
    font-size: 0.8rem;
    color: #666;
    word-wrap: break-word;
}

/* 3.3. END Article */
/* 3.4. Pagination */
.pagination {
    margin-top: 1rem;
}

.page-link {
    color: #f38844;
}

.page-link:hover {
    background-color: #f38844;
    color: #fff;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f38844;
    border-color: #eee;
}

/* 3.4. END Pagination */
/* 3.5. tags-cloud */
.sidebar-wrap {
    background-color: #fff;
    padding: 1rem 1rem 1rem 2rem;
    margin-bottom: 1rem;
}

.sidebar-wrap .sidebar-title {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1.2rem;
}
.sidebar-wrap ul.notice{
    padding-left:0;
}

.sidebar-wrap ul.notice li{
    list-style: none;
    line-height:2rem;
}

.sidebar-wrap .sidebar-title:after {
    content: "";
    width: 5rem;
    height: 0.1rem;
    background-color:#f38844;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.sidebar-wrap .tags-cloud a {
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    padding: 0.2rem 0.4rem;
    color: #666;
    display: inline-block;
    margin: 0 0.4rem 0.4rem 0;
    font-size: 0.8rem;
}

.sidebar-wrap .tags-cloud a > span {
    color: #666;
}

.sidebar-wrap .tags-cloud a:hover {
    background-color: #f38844;
    border: 1px solid #f38844;
    color: #fff;
}

.sidebar-wrap .tags-cloud .badge {
    background-color: #fff;
}

/* 3.5. END tags-cloud */

/*文章归档*/
.post-archives {
    padding-left: 1rem;
}

.post-archives li {
    border-bottom: 1px dotted #eaeaea;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
    list-style: none;
}

.post-archives li a {
    color: #666;
    padding-left: 5px;
}

/*文章归档END*/
/***********************************/
/* 4.FOOTER */
/***********************************/
.footer-wrap {
    padding: 2rem 1rem 3rem 1.5rem;
}

.footer-wrap h4 {
    font-size: 1.2rem;
    color: #fff;
}

.footer-wrap .recent-post .recent-single-post {
    border-bottom: 1px dashed #303030;
    padding-bottom: 0.2rem;
    margin-bottom: 0.4rem;
}

.footer-wrap .recent-post .recent-single-post a {
    color: #959595;
    font-size: 0.8rem;
}

.footer-wrap .recent-post .recent-single-post a:hover {
    color: #f38844;
}

.footer-title {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #303030;
    margin-bottom: 1rem;
    position: relative;
}

.footer-title:after {
    content: "";
    width: 5rem;
    height: 0.1rem;
    background: #f38844;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.footer-link a {
    font-size: 0.8rem;
    background-color: #303d4a;
    border: 1px solid #303030;
    padding: 0.2rem 0.4rem;
    color: #959595;
    display: inline-block;
    margin: 0 0.4rem 0.4rem 0;
}

.footer-link a:hover {
    background-color: #f38844;
    border: 1px solid #f38844;
    color: #fff;
}

/***********************************/
/* END 4.FOOTER */
/***********************************/
/***********************************/
/* 5.LIST.HTML */
/***********************************/

/*面包屑*/
.catleader {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 1rem 1.2rem;
}

.catleader h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    border-left: 0.3rem solid #f38844;
    padding-left: 0.6rem;
}

/*面包屑END*/

/***********************************/
/* END 5.LIST.HTML */
/***********************************/

/***********************************/
/* 6.SHOW.HTML */
/***********************************/

/*详细页post.html*/
.post-wrap {
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding: 0 1.5rem 2rem 1.5rem;
}

.post-header {
    margin-bottom: 1.2rem;
    padding: 2.5rem 0 0.5rem 0;
    margin-bottom:1.5rem;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.post-header-title {
    padding-bottom:0.5rem;
    font-size: 1.5rem;
    color: #f38844;
    cursor: default;
}

.post-meta {
    margin-top: 1.2rem;
    font-size: 0.8rem;
    color: #959595;
}

.post-meta span {
    display: inline-block;
    margin-right: 1rem;
}

.post-content {
    font-size: 1rem;
    line-height: 1.5rem;
    word-wrap: break-word;
    cursor: default;
}

.post-content p {
    text-indent: 2em;
    word-wrap: break-word;
}

.post-tags {
    padding: 0.5rem 0 0 0;
    cursor: default;
}

.post-tags a {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0 0.5rem 0.5rem 0;
    color: #FFF;
    font-size: 0.8rem;
    background-color: #f38844;
    /*opacity: 0.85;*/
    /*filter: alpha(opacity=85);*/
}

/*赞和打赏部分*/
.post-copyright {
    margin-top: 1.5rem;
    background-color: #eaeaea;
    font-size: 0.8rem;
    padding: 0.5rem 2rem;
    text-align: center;
    overflow: hidden;
}

.post-copyright a {
    color: #666;
}

.post-actions {
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    padding-top: 20px;
}

.post-actions a.action-like {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 10px 16px;
    background-color: #f38844;
    color: #fff;
    margin-right: 5px;
}

.post-actions a.action-like:hover {
    opacity: 0.85;
    color: #fff;
}

/*评论部分*/
#comment {
    padding: 1rem 0 0.5rem 0;
    font-size: 1rem;
}

#comment input {
    margin-bottom: 0.5rem;
}

#respond {
    position: relative;
    padding-bottom: 1rem;
}

.comment-box {
    border: 1px solid #b9b9b9;
    border-radius: 0.2rem;
    background-color: #FFF;
    position: relative;
    z-index: 10;
}

.comment-box:hover {
    border-color: #f38844;
}

#comment-textarea {
    width: 100%;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
    font-size: 1rem;
    color: #666;
}

.comment-ctrl {
    background-color: #FBFBFB;
    height: 2.2rem;
    border-top: solid 1px #F2F2F2;
    z-index: 5;
}

#comment-submit {
    position: absolute;
    right: -1px;
    bottom: -1px;
    background: #f38844;
    border: none;
    border: 2px solid #f38844;
    border-left: none;
    border-top: none;
    padding: 0px;
    width: 6rem;
    height: 2.25rem;
    color: #FFF;
    outline: 0;
    border-radius: 0 0 0.2rem 0;
    font-size: 1rem;
    z-index: 6;
}

/*END评论部分*/

.comment-list-panel {
    margin-top: 1.5rem;
}

.comment-list {
    padding-left: 0.2rem;
    margin-top: 1rem;
}

.comment-item {
    list-style: none;
    border-bottom: 1px #e5e5e5 solid;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
}

.comment-item .comment-text {
    padding-top: 0.5rem;
    font-size: 1rem;
}

.comment-item .comment-text {
    padding-top: 1rem;
}


/***********************************/
/* 7.404.HTML */
/***********************************/
.wrap-error{
  padding:16rem 0;
}
.error {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1020px;
}

.error-left {
    width: 41%;
    display: table-cell;
    padding-right: 1.5rem;
    vertical-align: middle;
}

.error-left .error-text {
    font-size: 7rem;
    font-weight: bold;
    color: #f38844;
    line-height: 8rem;
    text-align: right;
}

.error-right {
    width: 50%;
    display: table-cell;
    padding-left: 1rem;
    vertical-align: middle;
}

.error-right .error-head {
    margin-bottom: 0.8rem;
    font-size: 2rem;
    line-height: 1;
    color: #f38844;
    font-weight: bold;
    letter-spacing: 0;
}

.error-right .error-text {
    margin-bottom: 0.8rem;
    line-height: 1.5rem;
    color: #666;
    font-size: 0.8rem;
}

.error-right .error-list {
    margin-top: 1rem;
}
.error-right .error-list li {
    margin-bottom: 0.8rem;
    list-style: inside disc;
}
.error-right .error-list li .link {
    position: relative;
    font-size: 0.8rem;
    text-decoration: none;
    color: #454545;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.error-right .error-list li .link::after {
    position: absolute;
    content: '';
    bottom: -0.3rem;
    left: 0;
    right: 0;
    height: 1px;
    opacity: 0;
    background-color: #454545;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.error-right .error-list li .link:hover::after {
    opacity: 1;
}
/***********************************/
/* END 7.404.HTML */
/***********************************/